* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Bree Serif", serif;
  font-family: "Public Sans", sans-serif;
}
body {
  overflow: hidden;
  background-color: #09001d;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
}

.header .logo {
  font-size: 35px;
  font-weight: 700;
  text-decoration: none;
  color: #fff;
  filter: drop-shadow(0 0 5px #1ba251);
}

.navbar a {
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  margin-left: 35px;
  text-decoration: none;
  transition: 0.3s ease;
}

.navbar a:hover,
.navbar .active {
  color: #78c400;
}

.main {
  background: url(2.jpg) no-repeat;

  height: 100vh;
  background-size: cover;
  background-position: center;
  transition: 0.3s ease;
  pointer-events: auto;
}

.main.active {
  filter: blur(15px);
  pointer-events: none;
}

.container {
  display: flex;
  height: 100vh;
  width: 200%;
}

.home {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  position: relative;
  left: -50%;
}
.home .home-content {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-content h1 {
  font-size: 78px;
  font-weight: 700;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.home-content p {
  font-size: 16px;
  text-align: center;
  margin-bottom: 30px;
}

.home-content .start-btn {
  width: 190px;
  height: 55px;
  background-color: #78c400;
  color: #fff;
  border: 2px solid floral#fff;
  outline: none;
  border-radius: 6px;
  font-size: 18px;
  letter-spacing: 1px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.5s;
}

.home-content .start-btn:hover {
  background-color: #00c47f;
  color: #fff;
}

.popup-info {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0.9);
  width: 500px;
  border-radius: 6px;
  background-color: #fff;
  padding: 10px 25px;
  opacity: 0;
  pointer-events: none;
  transition: 0.5s ease;
}

.popup-info.active {
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50%, -50%) scale(1);
}

.popup-info h2 {
  font-size: 50px;
  color: #78c400;
}

.popup-info .info {
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  margin: 4px 0;
}

.popup-info .btn-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.popup-info .btn-group .info-btn {
  width: 130px;
  height: 45px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  background-color: #78c400;
  outline: none;
  border: 2px solid #78c400;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  transition: 0.5s;
}

.popup-info .btn-group .info-btn:nth-child(1) {
  background: transparent;
  color: #78c400;
}
.popup-info .btn-group .info-btn:nth-child(1):hover {
  background-color: #78c400;
  color: #fff;
}
.popup-info .btn-group .info-btn:nth-child(2):hover {
  background-color: #00c47f;
  border-color: #00c47f;
}

.quiz-section {
  width: 100%;
  background-color: #09001d;
  position: relative;
  left: -50%;
  /* left: 0%; */
  transition: 1s ease-in-out;
  transition-delay: 0.25s;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.quiz-section.active {
  left: 0;
}

.quiz-section .quiz-box {
  position: relative;
  width: 500px;
  border: 2px solid #78c400;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  padding: 20px 30px;
  pointer-events: none;
  opacity: 0;
  transform: scale(0.9);
}
.quiz-section .quiz-box.active {
  opacity: 1;
  pointer-events: auto;
  transform: scale(1);
  transition: 1s ease-in;
  transition-delay: 0.9s;
}
.quiz-box h1 {
  font-size: 32px;
  text-align: center;
  background: linear-gradient(45deg, transparent, #78c400, transparent);
  border-radius: 6px;
}

.quiz-box .quiz-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0px;
  border-bottom: 1px solid #78c400;
  margin-bottom: 25px;
}

.quiz-header span {
  font-size: 18px;
  font-weight: 500;
}

.quiz-header .header-score {
  background-color: #78c400;
  padding: 7px;
  border-radius: 3px;
}

.quiz-box .quiz-question {
  font-size: 24px;
  font-weight: 600;
}

.option-list .option {
  width: 100%;
  padding: 12px;
  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 4px;
  font-size: 17px;
  margin: 15px 0;
  cursor: pointer;
}

.option-list .option.correct {
  background: #09001d;
  color: #00a63d;
  border-color: #00a63d;
}
.option-list .option.incorrect {
  background: #09001d;
  color: #a60045;
  border-color: #a60045;
}
.option-list .option.disable {
  pointer-events: none;
}
.option-list .option:hover {
  background-color: rgba(255, 255, 255, 0.1);
  /* border: 2px solid rgba(255, 255, 255, 0.1); */
}

.quiz-box .quiz-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 2px solid #78c400;
  padding-top: 20px;
  margin-top: 25px;
}

.quiz-footer .question-total {
  font-size: 16px;
  font-weight: 600;
}

.quiz-footer .next-btn {
  width: 100px;
  height: 45px;
  background: rgba(255, 255, 255, 0.1);
  border: 2px solid rgba(255, 255, 255, 0.1);
  outline: none;
  border-radius: 6px;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.3);
  font-weight: 600;
  cursor: pointer;
  pointer-events: none;
}

.quiz-footer .next-btn.active:hover {
  background-color: #00c47f;
  border-color: #00c47f;
}
.quiz-footer .next-btn.active {
  pointer-events: auto;
  background-color: #78c400;
  border-color: #78c400;
  color: #fff;
}

.quiz-section .result-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.9);
  width: 500px;
  padding: 20px;
  background-color: transparent;
  border: 2px solid #78c400;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: 1s;
}

.quiz-section .result-box.active {
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50%, -50%) scale(1);
}
.result-box h2 {
  font-size: 52px;
}

.result-box .persantage-container {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0 40px;
}

.persantage-container .circular-progress {
  position: relative;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background: conic-gradient(#78c400 3.6deg, rgba(255, 255, 255, 0.1) 0deg);
  display: flex;
  justify-content: center;
  align-items: center;
}

.persantage-container .circular-progress::before {
  content: "";
  position: absolute;
  width: 210px;
  height: 210px;
  border-radius: 50%;
  background-color: #09001d;
}
.circular-progress .progress-value {
  position: relative;
  font-size: 45px;
  font-weight: 600;
}

.persantage-container .score-text {
  font-size: 26px;
  font-weight: 600;
  margin-top: 20px;
}

.buttons button {
  width: 130px;
  height: 47px;
  background-color: #78c400;
  border: 2px solid #78c400;
  outline: none;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  margin: 0px 20px;
  transition: 0.5s ease;
}
.result-box .buttons {
  display: flex;
}
.buttons button:nth-child(1):hover {
  background-color: #00c47f;
  border-color: #00c47f;
}
.buttons button:nth-child(2) {
  background-color: transparent;
  color: #78c400;
}
.buttons button:nth-child(2):hover {
  background-color: #78c400;
  color: #fff;
}
